<div class="animated fadeIn">
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div class="card-header"><i class="cis-user"></i>Jean Jacques</div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">
          Lucie : Magnifique
          <br>
          <input type="text" class="form-control" id="comment" placeholder="Commenter">

        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-10">
      <div class="card">
        <div class="card-header"><i class="fa fa-check"></i>Jean Jacques</div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer"> Lucie : Magnifique
          <br>
          <input type="text" class="form-control" id="comment" placeholder="Commenter">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-10">
      <div class="card">
        <div class="card-header"><i class="cis-user"></i>Jean Jacques</div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer"> Lucie : Magnifique
          <br>
          <input type="text" class="form-control" id="comment" placeholder="Commenter">
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="text-align: center">
    <button type="button" class="btn btn-secondary">Load More</button>
  </div>
  <br />
</div>
